@import "tailwindcss";

:root {

  --background: #030014;
  --foreground: #ffffff;

}

html {

  scroll-behavior: smooth;

}

body {

  background:
    radial-gradient(circle at top left,
      rgba(139, 92, 246, 0.25),
      transparent 25%),

    radial-gradient(circle at bottom right,
      rgba(59, 130, 246, 0.2),
      transparent 25%),

    #030014;

  color: white;

  font-family: Arial, Helvetica, sans-serif;

  min-height: 100vh;

}

/* SCROLLBAR */

::-webkit-scrollbar {

  width: 8px;

}

::-webkit-scrollbar-track {

  background: #09090b;

}

::-webkit-scrollbar-thumb {

  background: #7c3aed;
  border-radius: 999px;

}

/* BUTTONS */

button {

  font-weight: 600;

}

button:hover {

  transform: translateY(-2px);

}

/* INPUT */

input {

  font-size: 16px;

}

/* HEADINGS */

h1,h2,h3 {

  letter-spacing: -1px;

}